---
import Main from '../layouts/Main.astro';
import Header from '../components/Header.astro';
import MobileMenu from '../components/MobileMenu.astro';
import Breadcrumb from '../components/Breadcrumb.astro';
import Loader from '../components/Loader.astro';
import Quotes from '../components/Quotes.astro';
import Counter from '../components/Counter.astro';
import Portfolio from '../components/Portfolio.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import Progress from '../components/Progress.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Main>
	<Loader/>
	<Header />
	<MobileMenu />
	<Breadcrumb />
	<Quotes/>
	<Counter/>
	<Portfolio/>
	<Contact/>
	<Footer/>
	<Progress/>
</Main>
