<!-- Tpm Counter Area Start -->
<section class="counter-area">
  <div class="container">
    <div class="row g-5">
      <div class="col-12 col-lg-6 col-xl-6 col-xxl-6">
        <div
          class="year-of-expariance-wrapper bg-blur-style-one tmp-scroll-trigger tmp-fade-in animation-order-1"
        >
          <div class="year-expariance-wrap">
            <!-- <h2 class="year-number"><span class="counter">25 </span> </h2> -->
            <h2 class="counter year-number">
              <span class="odometer" data-count="3">00</span>Y
            </h2>
            <h3 class="year-title">Developing <br /> experience</h3>
          </div>
          <p class="year-para">
            Experienced Web Developer, Metaverse Engineer, and AI Agent
            Developer crafting innovative digital solutions and pushing the
            boundaries of technology
          </p>
      </div>
    </div>
    <div class="col-12 col-lg-6 col-xl-6 col-xxl-6">
      <div class="counter-area-right-content">
        <div class="row g-5">
          <div class="col-lg-6 col-sm-6 col-12">
            <div
              class="counter-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-1"
            >
              <h3 class="counter counter-title">
                <span class="odometer" data-count="30">00</span>+
              </h3>
              <p class="counter-para">Projects Completed</p>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-12">
            <div
              class="counter-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-2"
            >
              <h3 class="counter counter-title">
                <span class="odometer" data-count="15">00</span>+
              </h3>
              <p class="counter-para">Technologies Experienced</p>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-12">
            <div
              class="counter-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-3"
            >
              <h3 class="counter counter-title">
                <span class="odometer" data-count="100">00</span>+
              </h3>
              <p class="counter-para">Github Contributions</p>
            </div>
          </div>
          <div class="col-lg-6 col-sm-6 col-12">
            <div
              class="counter-card tmponhover tmp-scroll-trigger tmp-fade-in animation-order-4"
            >
              <h3 class="counter counter-title">
                <span class="odometer" data-count="1000">00</span>+
              </h3>
              <p class="counter-para">Hours Of Coding</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Tpm Counter Area End -->
