<!-- tmp text para start -->
<div class="about-content-area">
  <div class="container tmp-section-gap">
    <div class="text-para-doc-wrap">
      <h2
        class="text-para-documents tmp-scroll-trigger tmp-fade-in animation-order-1 tmp-title-split-2"
      >
      Every great stories <br> begins with <span>fear</span><br> and thrives on <br> courage—<span>this is ours</span>.
      </h2>
      <div class="right-bg-text-para">
        <img src="assets/images/banner/right-bg-text-para-doc.png" alt="" />
      </div>
      <div class="left-bg-text-para">
        <img src="assets/images/banner/left-bg-text-para-doc.png" alt="" />
      </div>
    </div>
  </div>
</div>
<!-- tmp text para end -->
