---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/ino.png" />
    <meta name="generator" content={Astro.generator} />
    <title>INGENIOUS | Portfolio</title>
    <link rel="stylesheet" href="/assets/css/vendor/fontawesome.css" />
    <link rel="stylesheet" href="/assets/css/plugins/swiper.css" />
    <link rel="stylesheet" href="/assets/css/plugins/odometer.css" />
    <link rel="stylesheet" href="/assets/css/vendor/animate.min.css" />
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body
    class="tmp-white-version spybody index-ten"
    data-spy="scroll"
    data-bs-target=".navbar-example2"
    data-offset="150"
  >
    <slot />
    <script is:inline src="/assets/js/vendor/jquery.js"></script>
    <script is:inline src="/assets/js/vendor/jquery-ui.min.js"></script>
    <script is:inline src="/assets/js/vendor/waypoints.min.js"></script>
    <script is:inline src="/assets/js/plugins/odometer.js"></script>
    <script is:inline src="/assets/js/vendor/appear.js"></script>
    <script is:inline src="/assets/js/vendor/jquery-one-page-nav.js"></script>
    <script is:inline src="/assets/js/plugins/swiper.js"></script>
    <script is:inline src="/assets/js/plugins/gsap.js"></script>
    <script is:inline src="/assets/js/plugins/splittext.js"></script>
    <script is:inline src="/assets/js/plugins/scrolltigger.js"></script>
    <script is:inline src="/assets/js/plugins/scrolltoplugins.js"></script>
    <script is:inline src="/assets/js/plugins/smoothscroll.js"></script>
    <script is:inline src="/assets/js/vendor/bootstrap.min.js"></script>
    <script is:inline src="/assets/js/vendor/waw.js"></script>
    <script is:inline src="/assets/js/plugins/isotop.js"></script>
    <script is:inline src="/assets/js/plugins/animation.js"></script>
    <script is:inline src="/assets/js/plugins/contact.form.js"></script>
    <script is:inline src="/assets/js/vendor/backtop.js"></script>
    <script is:inline src="/assets/js/vendor/particle.js"></script>
    <script is:inline src="/assets/js/plugins/text-type.js"></script>
    <script is:inline src="/assets/js/main.js"></script>

    <script is:inline>
      particlesJS(
        "particles-js",

        {
          particles: {
            number: {
              value: 50,
              density: {
                enable: true,
                value_area: 800,
              },
            },
            color: {
              value: ["#D97BE9"],
            },
            shape: {
              type: "circle",
              stroke: {
                width: 0,
                color: "#000000",
              },
              polygon: {
                nb_sides: 5,
              },
              image: {
                src: "img/github.svg",
                width: 100,
                height: 100,
              },
            },
            opacity: {
              value: 0.9,
              random: true,
              anim: {
                enable: false,
                speed: 1,
                opacity_min: 0.1,
                sync: false,
              },
            },
            size: {
              value: 5,
              random: true,
              anim: {
                enable: false,
                speed: 40,
                size_min: 0.1,
                sync: false,
              },
            },
            line_linked: {
              enable: true,
              distance: 200,
              color: "#D97BE9",
              opacity: 0.5,
              width: 1,
            },
            move: {
              enable: true,
              speed: 6,
              direction: "none",
              random: false,
              straight: false,
              out_mode: "out",
              attract: {
                enable: false,
                rotateX: 600,
                rotateY: 1200,
              },
            },
          },
          interactivity: {
            detect_on: "canvas",
            events: {
              onhover: {
                enable: true,
                mode: "repulse",
              },
              onclick: {
                enable: true,
                mode: "push",
              },
              resize: true,
            },
            modes: {
              grab: {
                distance: 400,
                line_linked: {
                  opacity: 1,
                },
              },
              bubble: {
                distance: 800,
                size: 40,
                duration: 2,
                opacity: 8,
                speed: 3,
              },
              repulse: {
                distance: 200,
              },
              push: {
                particles_nb: 4,
              },
              remove: {
                particles_nb: 2,
              },
            },
          },
          retina_detect: true,
          config_demo: {
            hide_card: false,
            background_color: "#b61924",
            background_image: "",
            background_position: "50% 50%",
            background_repeat: "no-repeat",
            background_size: "cover",
          },
        }
      );
    </script>
  </body>
</html>
